@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-brand-light font-sans antialiased overflow-x-hidden;
  }
}



/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0F1115;
}
::-webkit-scrollbar-thumb {
  background: #2B2F36;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A7ADB5;
}
